SLACK_BOT_TOKEN=xoxb-23xxxxxx18-675864xxxxxx3v
SLACK_SIGNING_SECRET=3xxxxxxxxx8
SLACK_APP_TOKEN=xapp-1-A0xxxxxx8c8
GPT_API_TOKEN=sk-QQEORNxxxxxxxxmBnVv0fn
WEAVIATE_URL=http://localhost:8080
TEST_CHANNEL_ID=Gxxxxx7
WEAVIATE_API_KEY=xxxxxx
REDIS_PASSWORD=xxx
ADMIN_USER_IDS=U02A2H6xx,U02A2H6yy