REDIS_HOST_LOCAL=localhost
REDIS_HOST_DOCKERIZED=redis
AUTHENTICATION_APIKEY_ALLOWED_KEYS=xxx
REDIS_PASSWORD=xxx

# n8n variables
N8N_HOST_LOCAL=localhost
N8N_PROTOCOL=http
N8N_WEBHOOK_HOST_LOCAL=localhost
N8N_WEBHOOK_HOST_DOCKERIZED=n8n
N8N_PORT=5678
N8N_ENCRYPTION_KEY=xxx
N8N_API_KEYxx=

WEAVIATE_HOST_LOCAL=localhost
WEAVIATE_HOST_DOCKERIZED=weaviate

POSTGRES_USER=root
POSTGRES_PASSWORD=xxxx
POSTGRES_DB=n8n

APP_API_HOST_URL=http://host.docker.internal:8000